.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.side-nav {
  position: fixed;
  background: #e44745;
}

.card:hover {
  cursor: pointer;
}
.nav {
  left: 2%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(242,242,242,1) 52%, rgba(255,255,255,1) 97%);
}

.main {
  /* background: rgb(242,242,242);
  background: linear-gradient(90deg, rgba(242,242,242,1) 59%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 97%); */
  margin-left: 50px;
}

.home {
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
